<div id="imagegallery" class="imagegallery">

<!-- Row 1 -->
  <div class="img" onclick="location.href='https://upload.wikimedia.org/wikipedia/commons/b/bd/10_Month_Old_Fennec_Fox.jpg';">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/10_Month_Old_Fennec_Fox.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://i.ytimg.com/vi/_AtP7au_Q9w/maxresdefault.jpg';">
    <img src="https://i.ytimg.com/vi/_AtP7au_Q9w/maxresdefault.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://40.media.tumblr.com/b2daa863a97c59e957bf05a49b998763/tumblr_nkvkfmwj9f1sgvifco1_1280.jpg';">
    <img src="http://40.media.tumblr.com/b2daa863a97c59e957bf05a49b998763/tumblr_nkvkfmwj9f1sgvifco1_1280.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://api.ning.com/files/p9ey71ICjWc53B-LE5h7fXIohWfN6vL6HoKk4zOOq9L6lmxbvfUZNVAEbg1NU2t7kiFtOX76PjdvXhrjmcw7zKyZxCSYCZbF/juniperfoxx7.jpg';">
    <img src="http://api.ning.com/files/p9ey71ICjWc53B-LE5h7fXIohWfN6vL6HoKk4zOOq9L6lmxbvfUZNVAEbg1NU2t7kiFtOX76PjdvXhrjmcw7zKyZxCSYCZbF/juniperfoxx7.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://blog.ink361.com/wp-content/uploads/2014/12/beeryme-fox.jpg';">
    <img src="http://blog.ink361.com/wp-content/uploads/2014/12/beeryme-fox.jpg" alt="foxy">
  </div>

<!-- Row 2 -->

  <div class="img" onclick="location.href='http://i1.dailyrecord.co.uk/incoming/article3904671.ece/ALTERNATES/s615/JS42353179.jpg';">
    <img src="http://i1.dailyrecord.co.uk/incoming/article3904671.ece/ALTERNATES/s615/JS42353179.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://cdn1.independent.ie/incoming/article30067433.ece/ALTERNATES/h342/patsy.jpg';">
    <img src="http://cdn1.independent.ie/incoming/article30067433.ece/ALTERNATES/h342/patsy.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://i.imgur.com/Ncfxpfk.jpghttp://i.imgur.com/IKlLE.jpg';">
    <img src="http://i.imgur.com/Ncfxpfk.jpghttp://i.imgur.com/IKlLE.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://i.imgur.com/IKlLE.jpg';">
    <img src="http://i.imgur.com/IKlLE.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://s-media-cache-ak0.pinimg.com/236x/ba/b9/6c/bab96c6c33937a16afb41268fefa393e.jpg';">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/ba/b9/6c/bab96c6c33937a16afb41268fefa393e.jpg" alt="foxy">
  </div>

<!-- Row 3 -->

  <div class="img" onclick="location.href='https://s-media-cache-ak0.pinimg.com/736x/38/24/e0/3824e0eb265f6c4275054c837dd674c4.jpg';">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/38/24/e0/3824e0eb265f6c4275054c837dd674c4.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://ep.yimg.com/ay/pomegranate/red-fox-kit-in-a-log-notecard-49.jpg';">
    <img src="http://ep.yimg.com/ay/pomegranate/red-fox-kit-in-a-log-notecard-49.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://s-media-cache-ak0.pinimg.com/236x/56/5e/7b/565e7bc93f9418c194bca77999bc0a6d.jpg';">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/56/5e/7b/565e7bc93f9418c194bca77999bc0a6d.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://www.heroviral.com/wp-content/uploads/2016/02/pet-fox-696x362.jpg';">
    <img src="http://www.heroviral.com/wp-content/uploads/2016/02/pet-fox-696x362.jpg" alt="foxy">
  </div>

  <div class="img" onclick="location.href='http://media.mnn.com/assets/images/2015/05/rylai-fox-collar.jpg';">
    <img src="http://media.mnn.com/assets/images/2015/05/rylai-fox-collar.jpg" alt="foxy">
  </div>

<!-- Row 4 -->

  <div class="img" onclick="location.href='https://www.youtube.com/watch?v=_AtP7au_Q9w';">
    <img src="//i.ytimg.com/vi_webp/_AtP7au_Q9w/mqdefault.webp" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://www.youtube.com/watch?v=Yx9R66BY5k8';">
    <img alt="" src="https://i.ytimg.com/vi/Yx9R66BY5k8/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=_8gO2mkFzv_LgX4ooWoOUFj0-Is" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://www.youtube.com/watch?v=bQF_HXKUYvw';">
    <img alt="" src="https://i.ytimg.com/vi/bQF_HXKUYvw/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=7tkGPQG363hAWUR4fBZ26G6jdqs" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://www.youtube.com/watch?v=UOFke3AsCvg';">
    <img src="https://i.ytimg.com/vi/UOFke3AsCvg/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=iQSDneKARFbbW71kThMt_r1vIdw" alt="foxy">
  </div>

  <div class="img" onclick="location.href='https://www.youtube.com/watch?v=ipSTntA_Znw';">
    <img src="//i.ytimg.com/vi/ipSTntA_Znw/mqdefault.jpg" alt="foxy">
  </div>

</div>

<p>Domesticated foxes are becoming some of America's more popular exotic pets. They're playful, they're friendly, they work well with kids and other pets (except maybe hamsters) and they're absolutely adorable. Think of them like a combination between a cat and a dog, independent but loyal. Most states within the midwest and south have fully legalized the ownership of domesticated foxes, however owning a domesticated fox in most states is still technically illegal. The purposed of this petition is to spread the word and generate interest in making owning a fox as a pet completely legal within the United States. To be a part of this movement all you'll need to do is register an account (locally or through a selection of websites) and you will be added to the counter below. Afterwards, feel free to join our forum and chat with other fox enthusiasts across the country.</p>
<h1><%= User.count %></h1>
