.imagegallery {
    display: -webkit-flex;
    position: center;
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    padding-top: 2%;
    background-color: rgba(255, 191, 0, 0.7);
}
.img {
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   resize: both;
/*   overflow: auto;*/
   margin-left: 1.5%;
   margin-bottom: 2%;
   cursor: pointer;
   background-color: rgba(255, 0, 0, 0.7);
   padding: 1% 1% 1% 1%;
   border-radius: 10px;
}

.img img {
  max-width: 100%;
  max-height: 100%;
}
