// Div: .dropdown = .img
// Img: .dropbtn = img

// .img {
//   width: 200px;
//   height: 200px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   resize: both;
//   margin-left: 1.5%;
//   margin-bottom: 2%;
//   cursor: pointer;
//   background-color: rgba(255, 0, 0, 0.7);
//   padding: 1% 1% 1% 1%;
//   border-radius: 10px;

//   img {
//     max-width: 100%;
//     max-height: 100%;
//   }
// }



.dropdown {
  background-color: white;
  display: inline-block;
  float: left;
  margin-left: 400px;
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
  resize: both;
  cursor: pointer;

    .dropbtn {
       max-width: 100%;
       max-height: 100%;
    }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
