// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showpost {
  border: solid;
  padding: 0 1%;
}

#post_title {
  width: 30%;
  font-size: 15px;
}

#post_content {
  font-size: 15px;
  min-height: 100px;
  min-width: 30%;
}

#forumtable {
  border: solid;
  width: 100%;
  text-align: left;
}
